extends layouts/main
include mixins/videoBlock

block content
	h1 "this is first"
	.video__list
		each video in videos
			+videoBlock({
				title: video.title,
				videoFile: video.videoFile,
				views: video.views,
			})


