extends layouts/main
include mixins/videoBlock

block content
	h1 "비디오 디테일"
	//- .video__list
	//- 	each video in videos
	//- 		+videoBlock({
	//- 			id: video.id,
	//- 			title: video.title,
	//- 			videoFile: video.videoFile,
	//- 			views: video.views,
	//- 		})


