mixin videoBlock(video={})

	.videoBlock
		a(href=routes.videoDetail(video.id))
			.videoBlock__thumbnail
				video(src=video.videoFile controls="true")
			.videoBlock__title
				| #{video.title}
			.videoBlock__views
				| #{video.views}